{{ "<!-- callforpapers -->" | safeHTML }}
<section id="submit">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Submit a talk proposal</h2>
      </div>
    </div>
    <div class="col-lg-12 text-center">
        <h4 class="section-heading">
          Please submit your proposal via this <a href="https://bit.ly/satrday-columbus-2021-proposal">Google form</a>.
        </h4>
    </div>
    <div>
        <p>
          SatRday Columbus talks should be about 15 minutes in length
          and allow for a short Question and Answer guided by one of
          the conference facilitators. Speakers will present their topic
          on a live stream. Talks are recorded during the stream and will
          be uploaded to our conference
          <a href="https://www.youtube.com/channel/UCmilHBsXQ0bLB8LeVLAce8Q">YouTube channel</a>.
        </p>
        <p>
          All proposals need to be submitted by <strong>August 15, 2021</strong>.
          Accepted speakers will be notified by August 30, 2021.
        </p>
        <p>
          Need inspiration for an idea? Check out the
          <a href="https://www.youtube.com/playlist?list=PL2mw66dF0NdWE8T3gF3K4MhsvbAmuOhrp">talks from SatRday Columbus 2020</a>.
        </p>
    </div>
</section>
