{{ "<!-- keynote -->" | safeHTML }}
<section id="keynote"  {{ if .Site.Params.keynote.bg }}class="bg-light-gray"{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Keynote speaker</h2>
        <h3>Nick Wan</h3>
        <h3>Building Virtual Communities: What I learned from sliced</h3>
      </div>
      <img src="/img/team/nick-wan.jpg" class="img-responsive img-rounded"
       style="max-width: 50%; margin: auto;" alt="Picture of keynote speaker Nick Wan">
      <p>
        <a
        href="https://nickwan.medium.com/hello-from-nick-wan-f0c96556c3b7#.cfw9hbuly">Nick
        Wan</a> is the Manager of Data Science at Kentucky Fried Chicken and
        co-host of the competitive data science game show <a
        href="https://www.twitch.tv/nickwan_datasci">SLICED</a>. He previously
        worked at the Cincinnati Reds as a Data Scientist. He streams Twitch
        where he broadcasts SLICED as well as data science projects using data
        from NFL, MLB, Pro Bullriding Association, Rocket League, Overwatch
        League, and NWHL. Nick Wan earned his PhD in psychology from Utah State
        University.
      </p>
    </div>
  </div>
</section>
